<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a>Tablero</a></li>
  </ul>
  <p class="menu-label">
    Administración
  </p>
  <ul class="menu-list">
    <li><a>Productos</a>
      <ul>
        <li><%= link_to 'Categorias', categories_path %></li>
      </ul>
    </li>
    <li><a>Clientes</a></li>
  </ul>
  <p class="menu-label">
    Operaciones
  </p>
  <ul class="menu-list">
    <li><a>Almacen</a></li>
    <li><a>Ventas</a></li>
  </ul>
</aside>